@font-face { 
    font-family: 'vanguard'; 
    src: url('fonts/vanguard.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 } 

 @font-face { 
    font-family: 'cedarville'; 
    src: url('fonts/cedarville.ttf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 } 


/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* 100% view height for each section */
section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 1: Header */
.header-section {
    background-color: #FFB800;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}

.header-content h1 {
    font-size: 8rem;
    letter-spacing: 0.2rem;
    font-family: 'vanguard', sans-serif;
    color: #FF4E10;
}

.year{
    color : #FF8A00;
    letter-spacing: 1.5rem;
    font-size: 8rem;
    padding-left: 1rem;
    margin-top: -30px;
    
}

.header-content p {
    font-size: 3.5rem;
    color: white;
    margin-top: 1rem;
    font-family: "Cedarville Cursive";
    font-weight: 400;
    font-style: normal;
    margin-top: -10px;
    
}

/* Section 2: Countdown */
.countdown-section {
    background-color: #ff8b00;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}

.countdown-content .circle {
    width: 30vh;
    height: 30vh;
    background-color: #fda600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.countdown-content .circle h2 {
    font-size: 7rem;
    color: #e94e1b;
    font-family: "vanguard", sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}

.countdown-content .circle p {
    font-size: 2rem;
    color: white;
    font-family: "Cedarville Cursive";
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
}

.countdown-content p {
    font-size: 3.6rem;
    color: #FFE6A5;
    font-family: 'Times New Roman', Times, serif;
}

.countdown-text{
    margin-right: 10px;
}

/* Section 3: Voting Options */
.voting-section {
    background-color: white;
    flex-direction: column;
    text-align: center;
}

.voting-section h2 {
    font-size: 8rem;
    margin-bottom: 6rem;
    color: #FF4E10;
    font-family: "vanguard";
}

.options-container {
    display: flex;
    gap: 16rem;
    justify-content: center;
}

.option-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    transition: transform 0.3s;
    margin-bottom: 6rem;
}

.box {
    width: 40vh;
    height: 40vh;
    background-color: #ff8b00;
    border-radius: 10px;
   
}

.option-card h3 {
    color: #fff;
    font-size: 1.5rem;
    margin: 0.5rem;
    white-space: nowrap;
    background-color: #FABF12;
    padding: 10px 8vh;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

.option-card button {
    padding: 0.5rem 1rem;
    width: 20vh;
    background-color: #ffffff;
    border-color: #FF8A00;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    border-style: solid;
    
}

.option-card button:hover {
    background-color: #e94e1b;
}

.option-card:hover {
    transform: scale(1.05);
}
